<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <div class="content">
        <p class="hero-text">Hey {{ email }}!. You have signed in!!1</p>
        <div class="login-button" onclick="location.href='/logout'">
            <div class="login-button-content">
                <p>Sign out.</p>
            </div>
        </div>
    </div>
  </body>
</html>